.wrapper
  background-color: #f5f5f5
  padding: 1.5rem
  border-radius: 8px
  border: 1px solid #ccc

.formGroup
  margin-bottom: 1rem

  //label
  //  display: block
  //  margin-bottom: 0.5rem
  //  font-weight: 600
  //
  //input
  //  width: 100%
  //  padding: 0.5rem
  //  border: 1px solid #ccc
  //  border-radius: 4px
  //  font-size: 1rem

.buttonGroup
  display: flex
  justify-content: flex-end
  gap: 1rem
  margin-top: 1rem
